In [243]:
import pandas as pd

In [244]:
df = pd.read_csv('loan.csv',low_memory=False)

In [245]:
df.shape

(39717, 111)

Null value analysis

In [246]:
df = df.loc[:,df.isnull().sum() != len(df)]

In [247]:
df.shape

(39717, 57)

In [248]:
df.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [249]:
df = df.drop(['desc','mths_since_last_delinq','mths_since_last_record','next_pymnt_d'],axis=1)

In [250]:
df.shape

(39717, 53)

In [251]:
df.isna().sum()

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2459
emp_length                    1075
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [252]:
df.tax_liens.value_counts()

tax_liens
0.0    39678
Name: count, dtype: int64

In [253]:
df.tax_liens =  df.tax_liens.fillna(0.0)

In [254]:
df.tax_liens.value_counts()

tax_liens
0.0    39717
Name: count, dtype: int64

In [255]:
df.chargeoff_within_12_mths.value_counts()

chargeoff_within_12_mths
0.0    39661
Name: count, dtype: int64

In [256]:
df.chargeoff_within_12_mths = df.chargeoff_within_12_mths.fillna(0.0)

In [257]:
df.chargeoff_within_12_mths.value_counts()

chargeoff_within_12_mths
0.0    39717
Name: count, dtype: int64

In [258]:
df.collections_12_mths_ex_med.value_counts()

collections_12_mths_ex_med
0.0    39661
Name: count, dtype: int64

In [259]:
df.collections_12_mths_ex_med = df.collections_12_mths_ex_med.fillna(0.0)

In [260]:
df.chargeoff_within_12_mths.value_counts()

chargeoff_within_12_mths
0.0    39717
Name: count, dtype: int64

In [261]:
df.last_pymnt_d

0        Jan-15
1        Apr-13
2        Jun-14
3        Jan-15
4        May-16
          ...
39712    Jul-10
39713    Jul-10
39714    Apr-08
39715    Jan-08
39716    Jun-10
Name: last_pymnt_d, Length: 39717, dtype: object

In [262]:
df.revol_util.value_counts().sort_values()

revol_util
37.63%      1
33.29%      1
58.19%      1
5.34%       1
6.75%       1
         ...
0.10%      58
40.70%     58
63%        62
0.20%      63
0%        977
Name: count, Length: 1089, dtype: int64

In [263]:
df = df[~df.revol_util.isna()]

In [264]:
df.isna().sum()

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2455
emp_length                    1072
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                       0
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    67
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med       0
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths         0
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                        0
dtype: int64

# Nulls are removed, now will clean the data

In [265]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [266]:
df.columns = df.columns.str.strip()

In [267]:
for c in df.columns:
    if(len(df[c].value_counts()) > 1):
       print(len(df[c].value_counts()))

39667
39667
884
1040
8195
2
371
15363
7
35
28781
11
5
5313
3
55
3
39667
14
19583
823
50
2868
11
526
9
40
5
21711
1089
82
1137
1138
37800
37470
7963
35105
1353
4026
2610
101
34901
106
3

In [268]:
for c in df.columns:
    if(len(df[c].value_counts()) <= 1):
       df.drop(c,axis=1,inplace=True)

In [269]:
df.shape

(39667, 44)

we can drop any column that may not be needed for analysis

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39667 entries, 0 to 39716
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39667 non-null  int64
 1   member_id                39667 non-null  int64
 2   loan_amnt                39667 non-null  int64
 3   funded_amnt              39667 non-null  int64
 4   funded_amnt_inv          39667 non-null  float64
 5   term                     39667 non-null  object
 6   int_rate                 39667 non-null  object
 7   installment              39667 non-null  float64
 8   grade                    39667 non-null  object
 9   sub_grade                39667 non-null  object
 10  emp_title                37212 non-null  object
 11  emp_length               38595 non-null  object
 12  home_ownership           39667 non-null  object
 13  annual_inc               39667 non-null  float64
 14  verification_status      39667 non-null  object
 15  issue_d                  39667 non-null  object
 16  loan_status              39667 non-null  object
 17  url                      39667 non-null  object
 18  purpose                  39667 non-null  object
 19  title                    39656 non-null  object
 20  zip_code                 39667 non-null  object
 21  addr_state               39667 non-null  object
 22  dti                      39667 non-null  float64
 23  delinq_2yrs              39667 non-null  int64
 24  earliest_cr_line         39667 non-null  object
 25  inq_last_6mths           39667 non-null  int64
 26  open_acc                 39667 non-null  int64
 27  pub_rec                  39667 non-null  int64
 28  revol_bal                39667 non-null  int64
 29  revol_util               39667 non-null  object
 30  total_acc                39667 non-null  int64
 31  out_prncp                39667 non-null  float64
 32  out_prncp_inv            39667 non-null  float64
 33  total_pymnt              39667 non-null  float64
 34  total_pymnt_inv          39667 non-null  float64
 35  total_rec_prncp          39667 non-null  float64
 36  total_rec_int            39667 non-null  float64
 37  total_rec_late_fee       39667 non-null  float64
 38  recoveries               39667 non-null  float64
 39  collection_recovery_fee  39667 non-null  float64
 40  last_pymnt_d             39600 non-null  object
 41  last_pymnt_amnt          39667 non-null  float64
 42  last_credit_pull_d       39665 non-null  object
 43  pub_rec_bankruptcies     38970 non-null  float64
dtypes: float64(15), int64(10), object(19)
memory usage: 13.6+ MB

In [271]:
df.last_credit_pull_d.value_counts()

last_credit_pull_d
May-16    10302
Apr-16     2546
Mar-16     1121
Feb-13      842
Feb-16      736
          ...
May-08        1
Jun-08        1
Jul-08        1
May-07        1
Jul-07        1
Name: count, Length: 106, dtype: int64

In [272]:
df = df.drop(['member_id','url','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','recoveries','total_rec_late_fee','total_rec_int','total_rec_prncp','total_pymnt_inv','total_pymnt','out_prncp_inv','out_prncp','issue_d','funded_amnt','funded_amnt_inv'],axis=1)

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39667 entries, 0 to 39716
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39667 non-null  int64
 1   loan_amnt             39667 non-null  int64
 2   term                  39667 non-null  object
 3   int_rate              39667 non-null  object
 4   installment           39667 non-null  float64
 5   grade                 39667 non-null  object
 6   sub_grade             39667 non-null  object
 7   emp_title             37212 non-null  object
 8   emp_length            38595 non-null  object
 9   home_ownership        39667 non-null  object
 10  annual_inc            39667 non-null  float64
 11  verification_status   39667 non-null  object
 12  loan_status           39667 non-null  object
 13  purpose               39667 non-null  object
 14  title                 39656 non-null  object
 15  zip_code              39667 non-null  object
 16  addr_state            39667 non-null  object
 17  dti                   39667 non-null  float64
 18  delinq_2yrs           39667 non-null  int64
 19  earliest_cr_line      39667 non-null  object
 20  inq_last_6mths        39667 non-null  int64
 21  open_acc              39667 non-null  int64
 22  pub_rec               39667 non-null  int64
 23  revol_bal             39667 non-null  int64
 24  revol_util            39667 non-null  object
 25  total_acc             39667 non-null  int64
 26  pub_rec_bankruptcies  38970 non-null  float64
dtypes: float64(4), int64(8), object(15)
memory usage: 8.5+ MB

## change data types whereever necessary

 int_rate , earliest_cr_line, revol_util should be checked if they can be changed to int,float,  date time

In [275]:
df.int_rate.value_counts()

int_rate
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
17.34%      1
16.71%      1
16.15%      1
18.36%      1
14.67%      1
Name: count, Length: 371, dtype: int64

In [276]:
df.int_rate = df.int_rate.apply(lambda x: float(x.replace('%','')))

In [277]:
df.revol_util.value_counts()

revol_util
0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
0.75%       1
2.64%       1
81.31%      1
26.33%      1
7.28%       1
Name: count, Length: 1089, dtype: int64

In [282]:
df.revol_util = df.revol_util.apply(lambda x: float(x.replace('%','')))

In [284]:
df.earliest_cr_line

0        Jan-85
1        Apr-99
2        Nov-01
3        Feb-96
4        Jan-96
          ...
39712    Nov-90
39713    Dec-86
39714    Oct-98
39715    Nov-88
39716    Oct-03
Name: earliest_cr_line, Length: 39667, dtype: object

In [291]:
df.earliest_cr_line = pd.to_datetime(df.earliest_cr_line,format='%b-%y')

In [294]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39667 entries, 0 to 39716
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39667 non-null  int64
 1   loan_amnt             39667 non-null  int64
 2   term                  39667 non-null  object
 3   int_rate              39667 non-null  float64
 4   installment           39667 non-null  float64
 5   grade                 39667 non-null  object
 6   sub_grade             39667 non-null  object
 7   emp_title             37212 non-null  object
 8   emp_length            38595 non-null  object
 9   home_ownership        39667 non-null  object
 10  annual_inc            39667 non-null  float64
 11  verification_status   39667 non-null  object
 12  loan_status           39667 non-null  object
 13  purpose               39667 non-null  object
 14  title                 39656 non-null  object
 15  zip_code              39667 non-null  object
 16  addr_state            39667 non-null  object
 17  dti                   39667 non-null  float64
 18  delinq_2yrs           39667 non-null  int64
 19  earliest_cr_line      39667 non-null  datetime64[ns]
 20  inq_last_6mths        39667 non-null  int64
 21  open_acc              39667 non-null  int64
 22  pub_rec               39667 non-null  int64
 23  revol_bal             39667 non-null  int64
 24  revol_util            39667 non-null  float64
 25  total_acc             39667 non-null  int64
 26  pub_rec_bankruptcies  38970 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(8), object(12)
memory usage: 8.5+ MB

### lets check if theres any duplicate entries

In [297]:
df.duplicated().sum()

np.int64(0)