In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('loan.csv',low_memory=False)

In [20]:
df.shape

(39717, 111)

## Data cleaning

#### Lets understand the Null Values present

In [21]:
df.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

#### There are total 39717 values in the data frame but some columns seems to have all the values as null values. <br> We should remove such columns as they won't contribute anything to the analysis

In [22]:
df = df.loc[:,df.isnull().sum() != len(df)]
df.shape

(39717, 57)

In [23]:
df.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

#### Now we are left with 57 columns. Lets drop all the columns which contains very high number of null values and seem insignificant for our analysis

In [24]:
col_to_drop = ['desc','mths_since_last_delinq','mths_since_last_record','next_pymnt_d']
df = df.drop(col_to_drop,axis=1)
df.shape

(39717, 53)

#### So now we are left with 53 columns. Lets now see which columns have just a single value and we can remove such columns since it won't contribute much to analysis